@model SmartMarathon.App.Models.SmartMarathonData

@{
    ViewBag.Title = "Smart Marathon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- ========== HEADER SECTION ========== -->
<section id="home" name="home"></section>
<div id="headerwrap">
    <!-- ========== LANGUAGE CONTAINTER ============= -->
    <div class="language-container">
        <!-- begin language switcher -->
        <div id="polyglotLanguageSwitcher">
            <form action="#">
                <select id="polyglot-language-options">
                    <option id="en" value="en"></option>
                    <option id="es" value="es"></option>
                </select>
            </form>
        </div>
        <!-- end language switcher -->
    </div>
    <div class="container">
        <div class="logo">
            <img src="Content/images/running_man_logo_bktransparent.png">
        </div>
        <br>
        <div class="row">
            <h1>SMART MARATHON</h1>
        </div>
    </div><!-- /container -->
</div><!-- /headerwrap -->
<!-- ========== SMART MARATHON SECTION ========== -->
<section id="smartmarathon" name="smartmarathon"></section>
<div id="f">
    <div class="container">
        @using (Ajax.BeginForm("Calculate", "Home", new AjaxOptions { UpdateTargetId = "splits-box", HttpMethod = "POST", OnSuccess = "Refresh()" }, new { @class = "form-horizontal", role = "form", id = "frmMain" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Language)
            <hr />
            <h4>@Resources.Label_Instructions</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(m => m.GoalTime, new { @class = "control-label col-md-offset-2 col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(m => m.GoalTime)
                </div>
                <div class="col-md-2">
                    <div class="btn-group btn-toggle">
                        <button id="btn-KM" class="btn btn-primary">KM</button>
                        <button id="btn-MI" class="btn btn-default">MI</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Distance, new { @class = "control-label col-md-offset-2 col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.Distance, Model.Distances, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Distance)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Marathon, new { @class = "control-label col-md-offset-2 col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(m => m.Marathon, Model.Marathons, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Marathon)                    
                </div>                
            </div>
            <div class="row" id="splits-box">
                @{ Html.RenderPartial("Splits", Model, new ViewDataDictionary { { "InKms", Model.InKms }, { "SplitCategories", Model.SplitCategories } }); }
            </div>
            <div class="row">
                <div class="col-md-offset-3">
                    @Html.HiddenFor(m => m.InKms)
                    <input type="submit" value="@Resources.Label_Calculate" class="btn btn-default btn-warning textsize-24" />
                </div>
            </div>
            <div class="row">
                <br />
                <br />
                @*<hr />*@
                <span class='st_fblike_large' displaytext='Facebook Like'></span>
                <span class='st_facebook_large' displaytext='Facebook'></span>
                <span class='st_twitter_large' displaytext='Tweet'></span>
                <span class='st_googleplus_large' displaytext='Google +'></span>
                <span class='st_email_large' displaytext='Email'></span>
                <span class='st_sharethis_large' displaytext='ShareThis'></span>
                @*<hr />*@
            </div>
        }
    </div>
</div>
<!-- ========== ABOUT SECTION ========== -->
<section id="about" name="about"></section>
<div id="f">
    <div class="container">
        <div class="row">
            <h3>@Resources.About_Title</h3>
            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

            <!-- INTRO INFORMATIO-->
            <div class="col-lg-6 col-lg-offset-3">
                <div>
                    <div>
                        <p>@Resources.About_P1</p>
                        <p>@Resources.About_P2</p>
                    </div>
                    <div>
                        <h3>@Resources.About_Altimetry_Title</h3>
                        <p>@Resources.About_Altimetry_P1</p>
                        <p>@Resources.About_Altimetry_P2</p>
                        <ul>
                            <li>@Resources.About_Altimetry_P3</li>
                            <li>@Resources.About_Altimetry_P4</li>
                            <li>@Resources.About_Altimetry_P5</li>
                        </ul>
                    </div>
                    <br />
                    <div>
                        <h3>@Resources.About_Approach_Title</h3>
                        <p><em>@Resources.About_Approach_P1_Title</em>@Resources.About_Approach_P1</p>
                        <p><em>@Resources.About_Approach_P2_Title</em>@Resources.About_Approach_P2</p>
                        <p>@Resources.About_Approach_P3</p>
                        <p>@Resources.About_Approach_P4</p>
                        <p><em>@Resources.About_Approach_P5_Title</em>@Resources.About_Approach_P5</p>
                        <p>@Resources.About_Approach_P6</p>
                        <ul>
                            <li>@Resources.About_Approach_P7</li>
                            <li>@Resources.About_Approach_P8</li>
                            <li>@Resources.About_Approach_P9</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /container -->
</div><!-- /f -->
<!-- ========== CONTACT SECTION ========== -->
<section id="contact" name="contact"></section>
<div id="f">
    <div class="container">
        <div class="row">
            <h3>@Resources.ContactMe_Title</h3>
            <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

            <div class="col-lg-6 col-lg-offset-3">
                <p>@Resources.ContactMe_P1</p>
                <p>@Resources.ContactMe_P2</p>
                <address>
                    <p>Luis Fernandez Jimenez<br />
                    San Jose, Costa Rica<br />
                    <abbr title="Email"></abbr>
                    <a href="mailto:lafj14@gmail.com?subject=[Smart Marathon] ">lafj14@gmail.com</a></p>
                </address>
                <br />
                <div>
                    <p>@Resources.ContactMe_P3</p>
                    <br />
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="EVQ3AMAZ9YMKJ">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var language = LoadPage();
            //var data = {};
            //data = '@Html.Raw(Json.Encode(Model))';
            //SaveData(data);

            $('.btn-toggle').click(function () {
                ToggleKms(this);
                return false;
            });

            $(".timespan").change(function () {
                Submit();
            });

            $("#Distance").change(function () {
                var url = '@Url.Action("EventsByDistance")';
                var distance = $(this).val();
                LoadEvents(url, distance);
                Submit();
            });

            $("#Marathon").change(function () {
                LoadSplits();
                Submit();
            });

            $('#polyglotLanguageSwitcher').polyglotLanguageSwitcher({
                effect: 'fade',
                testMode: true,
                initLanguage: language,
                onChange: function (evt) {
                    var url = '@Url.Action("Index")';
                    ChangeLanguage(url, evt.selectedItem);
                }
            });
            $(this).prev("li").prop("en", "es");
        });
</script>
}