@model SmartMarathon.App.Models.SmartMarathonData

@{
    ViewBag.Title = "Smart Marathon";
}

@using (Html.BeginForm("SmartMarathon", "Home", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h4>Fill your goal time and classify each split according race altimetry</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(m => m.GoalTime, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.TextBoxFor(m => m.GoalTime, @"{0:hh\:mm\:ss}", new { @class = "form-control", @placeholder = "HH:mm:ss" })
                @Html.ValidationMessageFor(model => model.GoalTime)
            </div>
            <div class="col-md-2">
                <div class="btn-group btn-toggle">
                    <button id="btn-KM" class="btn btn-primary">KM</button>
                    <button id="btn-MI" class="btn btn-default">MI</button>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Marathon, new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.DropDownListFor(m => m.Marathon, Model.Marathons, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Marathon)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-6">
                <div id="Kms">
                    @Html.EditorFor(m => m.SplitsK, new { SplitCategories = Model.SplitCategories } )
                </div>
                <div id="Miles">
                    @Html.EditorFor(m => m.SplitsM, new { SplitCategories = Model.SplitCategories } )
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-6">
                @Html.CheckBoxFor(model => model.InKms, new { @hidden = "hidden" })
                <input type="submit" value="Calculate" class="btn btn-default btn-primary" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/Scripts/smartmarathon.js" type="text/javascript"></script>

<script>
    $( document ).ready(function() {
        LoadPage();
    });

    $("#Marathon").change(function () {
        LoadSplits();
    });

    $('.btn-toggle').click(function () {
        ToggleKms(this);
        return false;
    });

    $('form').submit(function () {

    });
</script>
}