<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="SmartMarathon">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="keywords" content="calculator, instructions, smart marathon, marathon, running calculator instructions, pace calculator instructions, maraton, maraton inteligente">
    <meta name="description" content="Guide to run a smart marathon.">

    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <link rel="icon" href="favicon.ico" type="image/ico" />
    <link rel="apple-touch-icon" href="~/Content/images/favicon.png" />
    <link rel="apple-touch-startup-image" href="~/Content/images/startup.png">

    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body data-spy="scroll" data-offset="0" data-target="#theMenu">
    <!-- Menu -->
    <nav class="menu" id="theMenu">
        <div class="menu-wrap">
            <h1 class="logo"><a href="#" class="smoothScroll">Smart Marathon</a></h1>
            <i class="icon-remove menu-close"></i>
            <a href="#home" class="smoothScroll">Home</a>
            <a href="#smartmarathon" class="smoothScroll">Calculate</a>
            <a href="#about" class="smoothScroll">About</a>
            <a href="#contact" class="smoothScroll">Contact</a>            
            @*<a href="#"><i class="icon-facebook"></i></a>
            <a href="#"><i class="icon-twitter"></i></a>
            <a href="#"><i class="icon-dribbble"></i></a>*@
            <a href="mailto:lafj14@gmail.com?subject=[Smart Marathon] "><i class="icon-envelope"></i></a>
            @if (Request.Browser.IsMobileDevice)
            {
                <a onclick="callAddToHomeScreen();"><i class="glyphicon glyphicon-save"></i></a>
            }
        </div>

        <!-- Menu button -->
        <div id="menuToggle"><i class="icon-reorder"></i></div>
    </nav>
    @RenderBody()
    <!-- ========== ADD TO HOME SECTION ========== -->
@if (Request.Browser.IsMobileDevice)
{
    <section id="addToHome" name="addToHome"></section>
    <div id="f">
        <div class="container">
            <div class="row">
                <h3>ADD TO HOME</h3>
                <p class="centered"><i class="icon icon-circle"></i><i class="icon icon-circle"></i><i class="icon icon-circle"></i></p>

                <div class="col-lg-6 col-lg-offset-3">
                    <a onclick="callAddToHomeScreen();"><i class="glyphicon glyphicon-save" style="font-size: x-large"></i></a>
                </div>
            </div>
        </div>
    </div>
}
    <!-- ========== FOOTER SECTION ========== -->
    <section id="footer" name="footer"></section>
    <div id="f">
        <div class="container">
            <div class="row">
                <p>&copy; @DateTime.Now.Year - Smart Marathon</p>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
    <script>
        var addToHome = addToHomescreen({
            appID: 'org.cubiq.SmartMarathon',
            message: "To add Smart Marathon to the home screen",
            detectHomescreen: 'hash',
            modal: true
        });

        function callAddToHomeScreen() {
            addToHome.options.displayPace = 0;
            addToHome.options.autostart = false;
            addToHome.show();
        }
    </script>
</body>
</html>
