@model double

@*<span name="@ViewData.TemplateInfo.HtmlFieldPrefix" id="@ViewData.TemplateInfo.HtmlFieldPrefix.Replace("[", "_").Replace("]", "_").Replace(".", "_")" class="badge">@Model</span>*@
<input class="input-disable" type="text" name="@ViewData.TemplateInfo.HtmlFieldPrefix" id="@ViewData.TemplateInfo.HtmlFieldPrefix.Replace("[", "_").Replace("]", "_").Replace(".", "_")" value="@Model" readonly />