@model List<SmartMarathon.App.Models.SplitData>

@{
    var metric = Model == null || Model.Count > 27 ? "Kilometer" : "Mile";
    var splitCategories = ViewData["SplitCategories"] as SelectList;
    var splits = Model != null ? Model.Count : 0;
    var finishTime = splits > 0 ? @Model[splits - 1].Time : new TimeSpan();
}
<table class="table table-striped">
    <thead>
        <tr>            
            <th>@metric</th>
            <th>Category</th>
            <th>Pace</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < splits; i++)
        {
            <tr>
                <td class="col-md-1">
                    @Html.EditorFor(m => m[i].Split)
                </td>
                <td class="col-md-2">
                    @Html.DropDownListFor(m => m[i].Category, splitCategories, new { @class = "form-control" })
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(m => m[i].Pace)
                </td>
                <td class="col-md-1">
                    @Html.DisplayFor(m => m[i].Time)
                </td>
            </tr>            
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="col-md-1"></td>
            <td class="col-md-2"></td>
            <td class="col-md-2">
                @Html.Label("Finish Time")
            </td>
            <td class="col-md-2">
                @finishTime
            </td>
        </tr>
    </tfoot>
</table>

